In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [6]:
data = pd.read_csv("Cleaned_Data.csv")

In [8]:
X = data[['name','company','year','kms_driven','fuel_type']]
y = data['Price']

In [9]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
812          Tata Indica V2      Tata  2009       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009      132000    Petrol
814            Tata Zest XM      Tata  2018       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[816 rows x 5 columns]

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
X_train

                       name    company  year  kms_driven fuel_type
448    Mahindra Scorpio S10   Mahindra  2015       97200    Diesel
335             Hyundai i20    Hyundai  2014       23000    Petrol
294    Chevrolet Tavera Neo  Chevrolet  2013       55000    Diesel
684     Mahindra Scorpio S4   Mahindra  2015       30000    Diesel
79       Mahindra Quanto C8   Mahindra  2013       20000    Diesel
..                      ...        ...   ...         ...       ...
71           Datsun Redi GO     Datsun  2017       16000    Petrol
106       Hyundai Grand i10    Hyundai  2014       49000    Diesel
270       Renault Scala RxL    Renault  2014       49000    Diesel
435           Honda City SV      Honda  2017        4000    Petrol
102  Ford EcoSport Titanium       Ford  2014       44000    Diesel

[652 rows x 5 columns]

In [14]:
test_data = X_test.copy()

In [15]:
test_data.to_csv("TEST_DATA.csv",index=False)

In [16]:
train_data = X_train.copy()

In [17]:
train_data.to_csv("TRAIN_DATA.csv",index=False)